flows.json
[
    {
        "id": "04ef81f7c900fc7d",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e8acf7108291fa5f",
        "type": "http request",
        "z": "04ef81f7c900fc7d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/onecall?lat=19.408207&lon=-99.018915&exclude=hourly, daily&appid=397121aa139f734e0ce36bcb93dba63c&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 290,
        "y": 40,
        "wires": [
            [
                "220c34bb646b1bf9"
            ]
        ]
    },
    {
        "id": "24517ba8a6ea900a",
        "type": "inject",
        "z": "04ef81f7c900fc7d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "e8acf7108291fa5f",
                "944aee16fd4363fc"
            ]
        ]
    },
    {
        "id": "0653a634bf46740e",
        "type": "function",
        "z": "04ef81f7c900fc7d",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.current.temp;\nglobal.set (\"tempFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 40,
        "wires": [
            [
                "0672b13e54013628"
            ]
        ]
    },
    {
        "id": "32f2f4821e0eafe0",
        "type": "function",
        "z": "04ef81f7c900fc7d",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.current.humidity;\nglobal.set (\"humFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 120,
        "wires": [
            [
                "49d003c08ea24851"
            ]
        ]
    },
    {
        "id": "49d003c08ea24851",
        "type": "ui_gauge",
        "z": "04ef81f7c900fc7d",
        "name": "",
        "group": "de3a9bc34e66e7c1",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#888a85",
            "#8ae234",
            "#204a87"
        ],
        "seg1": "25",
        "seg2": "60",
        "className": "",
        "x": 980,
        "y": 120,
        "wires": []
    },
    {
        "id": "0672b13e54013628",
        "type": "ui_gauge",
        "z": "04ef81f7c900fc7d",
        "name": "",
        "group": "de3a9bc34e66e7c1",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "2",
        "max": "38",
        "colors": [
            "#729fcf",
            "#8ae234",
            "#ef2929"
        ],
        "seg1": "14",
        "seg2": "26",
        "className": "",
        "x": 990,
        "y": 40,
        "wires": []
    },
    {
        "id": "2bfd38a0bdb495cd",
        "type": "mqtt in",
        "z": "04ef81f7c900fc7d",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/flow5",
        "qos": "2",
        "datatype": "auto",
        "broker": "c4f2936f8e5d6908",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 460,
        "wires": [
            [
                "a489835f3379d9ba"
            ]
        ]
    },
    {
        "id": "a489835f3379d9ba",
        "type": "json",
        "z": "04ef81f7c900fc7d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 460,
        "wires": [
            [
                "286099b3ab4619ea",
                "36c669f985f9cb63",
                "6fd7e801f27125a9",
                "dce1ba650aecf9d6"
            ]
        ]
    },
    {
        "id": "286099b3ab4619ea",
        "type": "function",
        "z": "04ef81f7c900fc7d",
        "name": "Temperatura",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 460,
        "wires": [
            [
                "6fe703dd96b2c90a"
            ]
        ]
    },
    {
        "id": "6fe703dd96b2c90a",
        "type": "ui_chart",
        "z": "04ef81f7c900fc7d",
        "name": "",
        "group": "a68e70ab185defaa",
        "order": 1,
        "width": 12,
        "height": 7,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "55",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "36c669f985f9cb63",
        "type": "function",
        "z": "04ef81f7c900fc7d",
        "name": "Humedaad",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 540,
        "wires": [
            [
                "12fbe94c2ae18370"
            ]
        ]
    },
    {
        "id": "12fbe94c2ae18370",
        "type": "ui_chart",
        "z": "04ef81f7c900fc7d",
        "name": "",
        "group": "a68e70ab185defaa",
        "order": 2,
        "width": 12,
        "height": 7,
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "c7c7d81dce83cd75",
        "type": "inject",
        "z": "04ef81f7c900fc7d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 800,
        "wires": [
            [
                "a5ea990264f10f3e"
            ]
        ]
    },
    {
        "id": "a5ea990264f10f3e",
        "type": "function",
        "z": "04ef81f7c900fc7d",
        "name": "",
        "func": "msg.payload = '{\"id\":\"Omar_Ojeda_Nezahualcóyotl\",\"temp\":' + global.get (\"tempFlow5\") + ',\"hum\":' + global.get (\"humFlow5\") + ',\"uv\":' + global.get (\"uvFlow5\") + ',\"aqi\":' + global.get (\"aqi\") + '}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 800,
        "wires": [
            [
                "9bb1f0e4fdca08e3",
                "4d7f52493b3c605a"
            ]
        ]
    },
    {
        "id": "9bb1f0e4fdca08e3",
        "type": "debug",
        "z": "04ef81f7c900fc7d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 880,
        "wires": []
    },
    {
        "id": "4d7f52493b3c605a",
        "type": "mqtt out",
        "z": "04ef81f7c900fc7d",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/flow5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c4f2936f8e5d6908",
        "x": 700,
        "y": 800,
        "wires": []
    },
    {
        "id": "220c34bb646b1bf9",
        "type": "json",
        "z": "04ef81f7c900fc7d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 570,
        "y": 40,
        "wires": [
            [
                "0653a634bf46740e",
                "32f2f4821e0eafe0",
                "4d5d69cb7ad5364c"
            ]
        ]
    },
    {
        "id": "4d5d69cb7ad5364c",
        "type": "function",
        "z": "04ef81f7c900fc7d",
        "name": "UV",
        "func": "msg.payload = msg.payload.current.uvi;\nglobal.set (\"uvFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 200,
        "wires": [
            [
                "0236d3a3a35a29dc"
            ]
        ]
    },
    {
        "id": "0236d3a3a35a29dc",
        "type": "ui_gauge",
        "z": "04ef81f7c900fc7d",
        "name": "",
        "group": "de3a9bc34e66e7c1",
        "order": 3,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "UV",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "15",
        "colors": [
            "#8ae234",
            "#fce94f",
            "#ef2929"
        ],
        "seg1": "5",
        "seg2": "7",
        "className": "",
        "x": 970,
        "y": 200,
        "wires": []
    },
    {
        "id": "944aee16fd4363fc",
        "type": "http request",
        "z": "04ef81f7c900fc7d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://api.openweathermap.org/data/2.5/air_pollution?lat=19.408207&lon=-99.018915&appid=397121aa139f734e0ce36bcb93dba63c",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "6c84a69e7cd7df66"
            ]
        ]
    },
    {
        "id": "6c84a69e7cd7df66",
        "type": "json",
        "z": "04ef81f7c900fc7d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 570,
        "y": 260,
        "wires": [
            [
                "7b941d5eb6945415"
            ]
        ]
    },
    {
        "id": "7b941d5eb6945415",
        "type": "function",
        "z": "04ef81f7c900fc7d",
        "name": "Calidad del Aire",
        "func": "msg.payload = msg.payload.list[0].main.aqi;\nglobal.set (\"aqi\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 260,
        "wires": [
            [
                "253b4ea1db8ed6c8"
            ]
        ]
    },
    {
        "id": "253b4ea1db8ed6c8",
        "type": "ui_gauge",
        "z": "04ef81f7c900fc7d",
        "name": "",
        "group": "de3a9bc34e66e7c1",
        "order": 4,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Calidad del Aire",
        "label": "AQUI",
        "format": "{{value}}",
        "min": "0",
        "max": "5",
        "colors": [
            "#8ae234",
            "#fce94f",
            "#ef2929"
        ],
        "seg1": "3",
        "seg2": "4",
        "className": "",
        "x": 1000,
        "y": 260,
        "wires": []
    },
    {
        "id": "6fd7e801f27125a9",
        "type": "function",
        "z": "04ef81f7c900fc7d",
        "name": "UV",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.uv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 620,
        "wires": [
            [
                "d2196fa34244e64d"
            ]
        ]
    },
    {
        "id": "d2196fa34244e64d",
        "type": "ui_chart",
        "z": "04ef81f7c900fc7d",
        "name": "",
        "group": "a68e70ab185defaa",
        "order": 3,
        "width": 12,
        "height": 7,
        "label": "UV",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "15",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "dce1ba650aecf9d6",
        "type": "function",
        "z": "04ef81f7c900fc7d",
        "name": "Aqi",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.aqi;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 680,
        "wires": [
            [
                "7e955164f420f809"
            ]
        ]
    },
    {
        "id": "7e955164f420f809",
        "type": "ui_chart",
        "z": "04ef81f7c900fc7d",
        "name": "",
        "group": "a68e70ab185defaa",
        "order": 4,
        "width": 12,
        "height": 7,
        "label": "AQI",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": "1",
        "removeOlderPoints": "5",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "de3a9bc34e66e7c1",
        "type": "ui_group",
        "name": "Personal",
        "tab": "010694c371357dfc",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c4f2936f8e5d6908",
        "type": "mqtt-broker",
        "name": "broker hiveMQ G7",
        "broker": "35.157.252.226",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a68e70ab185defaa",
        "type": "ui_group",
        "name": "General",
        "tab": "010694c371357dfc",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "010694c371357dfc",
        "type": "ui_tab",
        "name": "Flow5",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]